apps/04_vacation_approval_process.yaml
id: vacation_approval_process
type: io.kestra.plugin.ee.apps.Execution
displayName: Launch new Executions from a form 
namespace: company.team
flowId: vacation
access: PRIVATE
tags:
  - HR
  - Vacation Approval

layout:
  - on: OPEN
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: |
          ## Submit a vacation approval request
          Submit your vacation request for approval, including your name, start and end dates.

      - type: io.kestra.plugin.ee.apps.execution.blocks.CreateExecutionForm
      - type: io.kestra.plugin.ee.apps.execution.blocks.CreateExecutionButton
        text: Submit
        style: DEFAULT

  - on: RUNNING
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: |
          ## Execution in progress

      - type: io.kestra.plugin.ee.apps.core.blocks.Loading
      - type: io.kestra.plugin.ee.apps.execution.blocks.Logs
      - type: io.kestra.plugin.ee.apps.execution.blocks.CancelExecutionButton
        text: Cancel request
        style: WARNING

  - on: PAUSE
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: |
          ## Validate the request
          Below are the details of the request. 

      - type: io.kestra.plugin.ee.apps.execution.blocks.Inputs
      - type: io.kestra.plugin.ee.apps.execution.blocks.TaskOutputs
        outputs:
          - displayName: Employee Data
            type: FILE
            value: "{{ outputs.fetch_employee_data.uri }}"

      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: |
          ## Approve or Reject?
          Please approve or reject the request.

      - type: io.kestra.plugin.ee.apps.execution.blocks.ResumeExecutionForm
      - type: io.kestra.plugin.ee.apps.execution.blocks.ResumeExecutionButton
        text: Approve
        style: SUCCESS

      - type: io.kestra.plugin.ee.apps.execution.blocks.CancelExecutionButton
        text: Reject
        style: DANGER

      - type: io.kestra.plugin.ee.apps.core.blocks.AutoRefresh

  - on: RESUME
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: |
          ## Thank you for validating the request!

      - type: io.kestra.plugin.ee.apps.core.blocks.AutoRefresh

  - on: SUCCESS
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: |
          ## Request processed successfully
          See the logs below.

      - type: io.kestra.plugin.ee.apps.execution.blocks.Logs

      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: |
          ## You're all set!
          See more App examples in our GitHub repository

      - type: io.kestra.plugin.ee.apps.core.blocks.Button
        text: App examples
        url: https://github.com/kestra-io/enterprise-edition-examples
        style: INFO

  - on: FALLBACK
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: You're all set. Thanks for using this app!
